*, ::before, ::after{
    box-sizing: border-box;
    /* outline: 1px solid rebeccapurple; */
}
:root{
    --black: #000000;
    --pink-text: #f72799b8;
    --pink-bg: #f72799b8;
    --white : #ffffff;
    --purple: rgba(102, 51, 153);
    --figure-color: transparent;
    --figure-shadow: 1px 1px 8px var(--pink-bg);
    --game-container-shadow-1: 0px 0px 15px var(--pink-bg);
    --game-container-shadow-2: 0px 0px 15px var(--purple);

}
body{
    background: var(--black);
    color: var(--pink-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(85%, 800px);
    margin: 0 auto;
    height: 100dvh;
    background: var(--bg-color);
}
/* remove a class to show a specific section */
.modal,
.initial,
.game{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 3px red solid;

}
/* initial scrren */
.button{
    display: inline-block;
    font-family: inherit;
    padding: 10px 30px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    outline: 6px outset var(--pink-bg);
    border: 3px outset var(--black);
    background-color: var(--figure-color);
    color: var(--pink-text);
    box-shadow: 0px 5px 15px 5px var(--pink-bg);
    animation: buttonEffect 2s infinite alternate;
}
.button:hover{
    cursor: pointer;
    outline: 7px outset var(--purple);
    color: var(--purple);
}
/* titles */
.title{
    margin-bottom: 90px;
    text-shadow: 0px 8px 20px var(--purple), 3px 2px 1px var(--purple);
    animation: textShadowEffect 2.2s infinite alternate-reverse ;
    text-align: center;
}
.initial__title{
    font-size: 2.9rem;
}
.game__title,
.modal__title {
    font-size: 2.2rem;
}

/* game scrren */
.game__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: min(70vw, 300px );
    height: min(70vw, 300px );
    border: 4px outset var(--purple);
    border-radius: 5px;
    box-shadow: var(--game-container-shadow-1);
    animation: changeShadow 2s ease-in-out infinite alternate-reverse;
}
/* cells */
.game__cell{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 33%;
    outline: 2px solid var(--purple);
    cursor: pointer;

}
.cross::before,
.cross::after{
    content: '';
    position: absolute;
    height: min(2vw, 10px);
    width: 80% ;
    border-radius: 10px;
    margin: auto;
    background-color: var(--figure-color);
    outline: var(--pink-bg) 2px outset;
    box-shadow: var(--figure-shadow);
}
.cross::after{
    transform: rotate(-45deg);
    animation-name: crossAfterEffect;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.cross::before{
    transform: rotate(45deg);
    animation-name: crossBeforeEffect;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* circle */
.circle::before,
.circle::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    margin: auto;
    outline: var(--pink-bg) 2px outset;
    animation-name: circleEffect;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.circle::before{
    background-color: var(--figure-color);
    width: 70%;
    height: 70%;
    box-shadow: var(--figure-shadow);
}
.circle::after{
    width: 30%;
    height: 30%;
    background-color: var(--black);
    box-shadow: inset var(--figure-shadow);
}
.cross-winner::after,
.cross-winner::before{
    background-color:var(--pink-bg);
    outline: var(--purple) 2px outset;
}
.circle-winner::before{
    background-color:var(--pink-bg);
    outline: var(--purple) 2px outset;
}
.circle-winner::after{
    outline: var(--purple) 2px outset;
}

@keyframes changeShadow {
    100%{
        box-shadow: var(--game-container-shadow-2);
    }
}
/* circle */
@keyframes circleEffect{
    to{
        transform: scale(.95);
    
    }
}
/* cross */
@keyframes crossBeforeEffect{
    to{
        transform:rotate(45deg) scale(.95);
    
    }
}
@keyframes crossAfterEffect{
    to{
        transform:rotate(-45deg) scale(.95);
    
    }
}
@keyframes buttonEffect {
    to{
        outline: 7px outset var(--purple);
        color: var(--purple);
        box-shadow: 0px 5px 15px 5px var(--purple);
    }
}
@keyframes textShadowEffect {
    to{
        text-shadow: 0px 8px 20px var(--pink-bg), 3px 2px 1px var(--pink-bg); 
    }
}